*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.container{
    width: 1140px;
    margin: 0 auto;
    display: flex;
}
.hero-section{
    background-image: url("img/top-banner.png");
    background-repeat: no-repeat;
    padding: 50px 0px;
}
.vertical-align{
    margin-top: 50px;
}
.half-width{
    width: 50%;
}
h1{
    font-size: 45px;
    text-transform: capitalize;
}
.najmul-sarker{
    font-size: 50px;
    text-transform: capitalize;
}
.najmul-color{
    color: orange;
}
.hero-h3{
    margin-top: 30px;

}
.half-width p{
    margin: 10px 0 40px;
    color: rgba(0, 0, 0, 0.603);
}
.link-button{
    padding: 12px 40px;
    color: #fff;
    font-weight: 700;
    background-image: linear-gradient(orange , #E96352);
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 5px;
}
.hero-img{
    width: 90%;
    float: right;
}
/* hero end */

.about-section{
    background-image: url("img/dream-bg.png");
    background-repeat: no-repeat;
    padding: 50px 0px 100px;
    background-position: right;
}
.about-img{
    width: 95%;
}
.about-section h2{
    font-size: 45px;
    color: #000;
    text-transform: capitalize;
    margin-bottom: 30px;
}
.about-section h3{
    color: #000;
    text-transform: capitalize;
}
.dream-big{
    margin-left: 100px;
}
/* dream section end */

.ep-section{
    background-image: url("img/exp-bg.png");
    background-repeat: no-repeat;
    background-position: 0px 200px;
    padding: 50px 0px 150px;
}
.ep-section .ep-title{
    font-size: 45px;
    font-weight: 700;
    text-transform: uppercase;
    color: #000;
    margin-bottom: 50px;
}
.ep-section .ep-title2{
    color: #000;
    font-size: 32px;
    text-transform: capitalize;
    font-weight: 700;
    margin-bottom: 30px;
}
.ep-section h3{
    color: orange;
    font-weight: 700;
    margin-bottom: 20px;
}
.ep-section .ep-box{
    width: 42%;
    padding: 20px;
    padding-left: 2%;
    padding-right: 2%;
    margin-left: 2%;
    margin-right: 2%;
    box-shadow: 10px 10px 40px #0000005b;
}
#border-left1{
    border-left: 7px solid;
    border-image: linear-gradient(orange , tomato) 30;
}
#border-left2{
    border-left: 7px solid;
    border-image: linear-gradient(blue , #7EFCFC) 30;
}
footer{
    text-align: center;
    padding: 20px 0;
    color: rgba(0, 0, 0, 0.664);
}